.centerAI {
  display: flex;
  align-items: center;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
header {
  padding: 0.5%;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav a {
  padding: 0.5%;
  color: #383737;
  text-decoration: none;
  font-size: 2rem;
  margin-top: 1rem;
}
header nav a:hover {
  color: slategrey;
}
.titleDiv {
  background: url(assets/home.png) slategrey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.5%;
}
.titleDiv h1 {
  font-size: 65px;
  color: white;
  margin-top: 1%;
}
.titleDiv h2 {
  font-size: 65px;
  color: white;
  margin-bottom: 1%;
}
.titleDiv button {
  margin-bottom: 1%;
}
hr {
  width: 98%;
  margin: 2%;
}
.artists-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0.5%;
  margin: 5%;
  box-sizing: border-box;
}
.artists-container .artist {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.artists-container .artist img {
  width: 350px;
  border-radius: 0.5rem;
  margin: 1%;
  padding-bottom: 1%;
}
.artists-container .artist a {
  text-decoration: none;
  font-size: 25px;
  color: #383737;
  padding: 0.5%;
}
.artists-container .artist a:hover {
  color: slategrey;
}
.artists-container .bio {
  width: 70%;
}
